<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jeecg-framework-3.4.3 GA</display-name>
  <web_1:context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>jeecg</param-value>
  </web_1:context-param>
  <web_1:context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </web_1:context-param>
  <web_1:listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener
		</listener-class>
  </web_1:listener>
  <web_1:context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-*.xml</param-value>
  </web_1:context-param>
  <web_1:filter>
    <web_1:filter-name>openSessionInViewFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</web_1:filter-class>
    <web_1:init-param>
      <param-name>singleSession</param-name>
      <param-value>true</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>openSessionInViewFilter</web_1:filter-name>
    <web_1:url-pattern>*.do</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <description>字符集过滤器</description>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</web_1:filter-class>
    <web_1:init-param>
      <description>字符集编码</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>encodingFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter>
    <web_1:filter-name>druidWebStatFilter</web_1:filter-name>
    <web_1:filter-class>com.alibaba.druid.support.http.WebStatFilter
		</web_1:filter-class>
    <web_1:init-param>
      <param-name>exclusions</param-name>
      <param-value>/css/*,/context/*,/plug-in/*,*.js,*.css,*/druid*,/attached/*,*.jsp
			</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>principalSessionName</param-name>
      <param-value>sessionInfo</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>profileEnable</param-name>
      <param-value>true</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>druidWebStatFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:listener>
    <description>spring监听器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <description>Introspector缓存清除监听器</description>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <description>request监听器</description>
    <listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <description>系统初始化监听器</description>
    <listener-class>org.jeecgframework.web.system.listener.InitListener
		</listener-class>
  </web_1:listener>
  <web_1:listener>
    <listener-class>org.jeecgframework.web.system.listener.OnlineListener
		</listener-class>
  </web_1:listener>
  <web_1:servlet>
    <description>spring mvc servlet</description>
    <web_1:servlet-name>springMvc</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet
		</web_1:servlet-class>
    <web_1:init-param>
      <description>spring mvc 配置文件</description>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>1</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>springMvc</web_1:servlet-name>
    <web_1:url-pattern>*.do</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>druidStatView</web_1:servlet-name>
    <web_1:servlet-class>com.alibaba.druid.support.http.StatViewServlet
		</web_1:servlet-class>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>springMvc</web_1:servlet-name>
    <web_1:url-pattern>*.action</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>restSpringMvc</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet
		</web_1:servlet-class>
    <web_1:init-param>
      <description>spring mvc 配置文件</description>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </web_1:init-param>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>restSpringMvc</web_1:servlet-name>
    <web_1:url-pattern>/rest/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>druidStatView</web_1:servlet-name>
    <web_1:url-pattern>/webpage/system/druid/*</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet>
    <web_1:servlet-name>ConnectorServlet</web_1:servlet-name>
    <web_1:servlet-class>com.ckfinder.connector.ConnectorServlet</web_1:servlet-class>
    <web_1:init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/classes/CKfinderConfig.xml</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>configuration</param-name>
      <param-value>org.jeecgframework.web.system.listener.CkfinderConfiguration
			</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>2</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:servlet-mapping>
    <web_1:servlet-name>ConnectorServlet</web_1:servlet-name>
    <web_1:url-pattern>/plug-in/ckfinder/core/connector/java/connector.java
		</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:filter>
    <web_1:filter-name>FileUploadFilter</web_1:filter-name>
    <web_1:filter-class>com.ckfinder.connector.FileUploadFilter</web_1:filter-class>
    <web_1:init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>jsessionid</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>JSESSIONID</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>FileUploadFilter</web_1:filter-name>
    <web_1:url-pattern>/plug-in/ckfinder/core/connector/java/connector.java
		</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:session-config>
    <web_1:session-timeout>30</web_1:session-timeout>
  </web_1:session-config>
  <web_1:welcome-file-list>
    <web_1:welcome-file>/webpage/login/login.jsp</web_1:welcome-file>
  </web_1:welcome-file-list>
</web_1:web-app>